.address a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  transform: translateX(-12px);
  border-radius: 12px;
}

@media (hover: hover) {
  .address a:hover {
    background-color: var(--g8);
  }
}

.address a:active {
  background-color: var(--g7);
}

/* SVG 중앙 맞추기 위한 부모 CSS */
.address span:nth-child(1) {
  display: flex;
  align-items: center;
}

.address span:nth-child(1) svg {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.address p {
  font-size: var(--t16);
  color: var(--g1);
  font-weight: 500;
}
