.main {
  display: flex;
  justify-content: center;
  padding: 96px 0 196px;
  min-height: 100dvh;
  background-color: var(--bw);
}

@media screen and (max-width: 768px) {
  .main {
    padding: 36px 16px 196px;
  }
}

.article {
  max-width: 700px;
}

.article h1 {
  margin-bottom: 48px;
}
