/* Font */
html,
body {
  font-family: var(--web-font-family);
}

code {
  font-family: var(--font-mono);
}

:root {
  --t42: 42px;
  --t34: 34px;
  --t28: 28px;
  --t19: 19px;
  --t17: 17px;
  --t14: 14px;
}

.text__42 {
  font-size: var(--42);
}

.text__34 {
  font-size: var(--34);
}

.text__28 {
  font-size: var(--28);
}

.text__19 {
  font-size: var(--19);
}

.text__17 {
  font-size: var(--17);
}

.text__14 {
  font-size: var(--14);
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
  word-break: keep-all;
}

p {
  word-break: break-word;
}

:root {
  --web-font-family: 'Pretendard Variable', Apple SD Gothic Neo, system-ui,
    -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/PretendardVariable.woff2')
    format('woff2-variations');
}
