/* PostListView */
.list__ul {
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-width: 600px;
  max-width: 600px;
}

.list__ul h2 {
  font-size: var(--t42);
}

@media screen and (max-width: 768px) {
  .list__ul {
    min-width: 0;
    max-width: 480px;
  }
}

/* PostListItemView */
.list__a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  transform: translateX(-32px);
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .list__ul h2 {
    padding: 3.5vw;
  }

  .list__a {
    padding: 3.5vw;
    transform: none;
  }
}

@media (hover: hover) {
  .list__a:hover {
    background-color: var(--g8);
  }
}

.list__a:active {
  background-color: var(--g7);
}

.list__a h1 {
  font-size: var(--t28);
  font-weight: 600;
}

.list__a time {
  font-size: var(--t17);
  color: var(--g4);
}

.list__a p {
  font-size: var(--t19);
  color: var(--g2);
  font-weight: 400;
  margin-top: 12px;
  line-height: 1.4;
}
