/* PostListView */
.list__ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-width: 600px;
  margin: 0 3.5vw;
}

.list__ul h2 {
  font-size: var(--t42);
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .list__ul {
    min-width: 0;
    max-width: 480px;
  }
}

/* PostListItemView */
.list__a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px;
  transform: translateX(-32px);
  border-radius: 12px;
}

@media (hover: hover) {
  .list__a:hover {
    background-color: var(--g8);
  }
}

.list__a:active {
  background-color: var(--g7);
}

.list__a h1 {
  font-size: var(--t28);
  font-weight: 600;
}

.list__a p {
  font-size: var(--t17);
  color: var(--g2);
  font-weight: 400;
}
